body, html {
  font-family: sans-serif;
  width: 800px;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#overlay {
  position:absolute;
}

header {
  position: absolute;
  top: 0px;
  width: 740px;
  background: white;
  z-index: 1;
  margin-top: 20px;
  margin-left: 30px;
}

#title {
  font-weight: bold;
  font-size: 2em;
}

#selection {
  fill: lightblue;
  fill-opacity: 0.3;
}
svg * {
  stroke:black;
  stroke-width:1;
  fill-opacity: 0.0;
}

.slider1 {
  width: 800px;
  margin: 0px;
  margin-bottom: 7px;
  float: left;
}

.slider2 {
  width: 800px;
  margin: 0px;
  margin-bottom: 7px;
  float: left;
}
#slider-range {
  margin-left: 22px;
  width: 755px;
  margin-top: 70px;
}

/* custom file select */
input[type="file"] {
  color: black;
  cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]:before {
  content: 'Load CSV';
  display: inline-block;
  background: #7074B8;
  background: linear-gradient(to bottom right, #9DB0EB, #5156B5);
  background: -webkit-linear-gradient(top, #9DB0EB, #5156B5);
  border: 1px solid #5156B5;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

input[type="file"]:hover:before {
  background: #5156B5;
  text-shadow: 0px 0px #444;
}

#audioSpan {
  visibility: hidden;
  float: right;
  margin-top: 7px;
}

#playButton {
  height: 32px;
  width: 32px;
  background: rgba(0,0,0,0);
  border-color: rgba(0, 0, 0, 1);
  border-radius: 100%;
  border-style: solid;
  cursor: pointer;
  padding: 0px;
  padding-left: 0.10em;
  margin-right: .5em;
  color:black;
}

#playButton:active {
  background: black;
  color: white;
}

#bpm {
  width: 30px;
}

#table {
  text-align: center;
}

#table:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.htContainer {
  display: inline-block;
  vertical-align: middle;
}
