body, html {
    width: 100%;
    font-family: sans-serif, verdana;
    background: url('halftone/halftone.png');
    color: #000;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}
header {
    padding: 2% 0;
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    background: url('footer_lodyas/footer_lodyas.png');
    color: #FFF;
    text-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    clear: both;
    vertical-align: middle;
}
#slickTable .slick-viewport {
    overflow-y: scroll;
}
#title {
    display: inline;
    font-weight: bold;
    font-size: 2em;
    margin-left: 3.5%;
    position: relative;
}
#title a {
    cursor: pointer !important;
    text-decoration: none;
    color: inherit;
}
/*********************************/
#typeSelBody {/* chart/graph type selection */
    float: right;
    padding-right: 2%;
    margin-top: 0.9%;
    right: 0em;
}
#typeSelBody select {
    cursor: pointer !important;
    font-size:20px;
    border-radius: 10px;
}
/*********************************/
/* START style for checkboxes */
.squaredTwo {
    display:inline-block;
    vertical-align:top;
    font-size:0;
    margin-left: 0.2px;
  	width: 0px;
  	height: 0px;
  	background: #fff;
    border-radius: 5px;
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
  	position: relative;
}
.squaredTwo label {
    cursor: pointer !important;
    margin-top: 0.2px;
    border: 1px solid #000;
  	position: absolute;
  	width: 27px;
  	height: 30px;
  	left: 0px;
  	top: 0px;
    border-radius: 4px;
  	background: #fff;
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}
.squaredTwo label:after {
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;
  	content: '';
  	position: absolute;
  	width:15px;
  	height: 7px;
  	background: transparent;
  	top: 6px;
  	left: 4px;
  	border: 3px solid #000;
  	border-top: none;
  	border-right: none;
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	transform: rotate(-45deg);
}
.squaredTwo input[type=checkbox]:checked + label:after {
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	opacity: 1;
}
/* END style for checkboxes */
/*********************************/
/* START style for about section */
#startBody {
    width: 100%;
    clear: both;
    margin-bottom: 8%;
}
#start {
    text-align: justify;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 1% 5% 3% 5%;
    border-radius: 5px;
    border: 3px solid #000;
}
#start h1 {
    text-align: center;
}
#start ul, #helpBoxBody ul {
    list-style-type: decimal;
}
#start li, #helpBoxBody li {
    margin: 1% 0;
    padding: 1% 0;
}
#startInst { /* instruction to get started */
    text-align: center;
}
#startFooter {
    width: 100%;
    height: 50px;
}
#toTopButton {
    float: right;
    cursor: pointer !important;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
    border: 3px solid #FFF;
    box-shadow: 0px 5px 10px #444;
    padding: 1.5%;
    color: #000;
    font-weight: bold;
    box-shadow: 0px 5px 10px #444;
    border-radius: 5px;
}
/* END style for about section */
/*********************************/
#files {/*style for acutal Load CSV button*/
    width: 118px;
    height: 47px;
    z-index: -1;
}
#newTable {/* style for actual Create New Table button */
    width: 186px;
    height: 47px;
    z-index: -1;
}
#content {
    width: 800px;
    margin: auto;/* centers the contents including the slider and the graph */
    margin-top: 5%;
    margin-bottom: 8%;
    clear: both;
}
#continuosBox {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #000;
    margin-top: 5%;
}
#lineDropdown, #instrumentDropdown {
    max-width: 27%;
}
#selection {
    fill-opacity: 0.2;
    fill: lightblue;
}
#graphImg {/* printer.js: image of graph in the print page */
    margin-bottom: 8%;
}
#graphCC {/* graph color change */
    background: url('halftone/halftone.png');
    border-radius: 5px;
}
svg * {
    stroke:#000;
    stroke-width:1;
    fill-opacity: 0;
}
/*******************************/
#overlay {
    position:absolute;
}
#dataGraph h3{
    text-align: center;
}
/*******************************/
/**  START changing Browse to Load CSV **/
 * {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.inputBtnSection, .newBtnSection {
    display:inline-block;
    vertical-align:top;
    font-size:0;
    margin-left: 2%;
}
.disableInputField {
    display:inline-block;
    vertical-align:top;
    margin: 0;
    font-size:14px;
}
.fileUpload, .createNew {
    position: relative;
    overflow: hidden;
}
.uploadBtn, .createBtn {
    cursor: pointer !important;
    font-size: 20px;
    font-weight: bold;
    background: #FFF;
    color: #000;
    display:inline-block;
    vertical-align:top;
    border: 3px solid #FFF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 10px #000;
    text-shadow: none;
}
.uploadBtn:hover, .createBtn:hover {
    background-color: #000;
    color: #FFF;
}
.fileUpload input.upload, .createNew input.emptyTable {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer !important;
    opacity: 0;
    filter: alpha(opacity=0);
}
/** END changing Browse to Load CSV **/
/*******************************/
.pageJump {
    display: none;
    text-decoration: none;
    border: 3px solid #FFF;
    border-radius: 5px;
    text-shadow: none;
    padding: 10px;
    box-shadow: 0px 5px 10px #000;
    color:rgb(255,255,255);
    background: rgb(0,0,0);
    margin-left: 10px;
    position: absolute;
    z-index: -1;
}
.pageJump:focus {
    z-index: 1;
}
/*******************************/
#table {
    text-align: center;
}
#table:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
#tblContainer {
    height: auto;
    max-height: 300px;
    margin: auto;
    margin-top: 3%;
    overflow: auto;
}
/*******************************/
/* START: for print button page, table section */
#printTable {
    border-top: 3px solid #000;
}
#printTableHeader {
    text-align: center;
}
#printTableBody {
    margin-top: 2%;
}
/* END: for print button page, table section */
/*******************************/
#audioSpanSec {
    width: 100%;
    text-align: left;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 0% 5% 4% 5%;
}
#audioSpanSec h3 {
    text-align: center;
}
#audioSpanBar {
    margin-top: 2%;
    margin-bottom: 4%;
}
#helpButton {
    cursor: pointer !important;
    height: 40px;
    width: 40px;
    background: #FFF;
    color: #000;
    border: 2px solid #FFF;
    margin-left: 2%;
    border-radius: 100%;
    box-shadow: 0px 5px 10px #444;
}
#playButton, #pauseButton, #stopButton {
    cursor: pointer !important;
    height: 35px;
    width: 35px;
    background: #FFF;
    color: #000;
    border: 2px solid #FFF;
    margin-left: 0.5em;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #444;
}
#helpButton:hover, #helpButton:focus, #playButton:hover, #playButton:focus, #pauseButton:hover, #pauseButton:focus, #stopButton:hover, #stopButton:focus {
    background-color: #000;
    color: #FFF;
}
#bpm {
    cursor: auto !important;
    font-size: 20px;
    background: #EEE;
    width: 50px;
    text-align: center;
}
#bpm:focus {
    background: #FFF;
}
.drop-down {
    cursor: pointer !important;
    font-size: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}
/*******************************/
#dataPlot {
    width: 100%;
    text-align:center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8%;
    /*position: relative; part of making download button bottom of div*/
}
#summary-header { /* center align is for printer.js */
    text-align: center;
    margin-bottom: 0;
}
#tblSummary {
    font-weight: normal;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 28px;
}
#tableCount {
    margin-top: 2%;
}
#remInstruction {
    margin: 5% 3% 3% 3%;
}
#tableControls {/* positioning buttons to bottom CENTER of parent container dataPlot */
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    padding-left: 1.5%;
}
/*******************************/
#rowLabel, #columnLabel, #downloadCSV, #printButton, #undoButton, #redoButton, #resetButton, #dialogboxfoot button, #helpBoxFoot button {
    cursor: pointer !important;
    display: inline;
    background: #FFF;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 5px 10px #444;
    text-shadow: none;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin-right: 2.5%;
    padding: 1.5%;
    vertical-align: middle;
}
@-moz-document url-prefix() { /* mozilla firefox css property */
    #rowLabel, #columnLabel, #undoButton, #redoButton, #resetButton, #downloadCSV, #printButton {
        padding: 1%;
    }
}
/*******************************/
#rowLabel, #columnLabel {
    cursor: default !important;
}
#addNewRow, #addNewCol, #subtractRow, #subtractColumn {
    min-width: 35px;
    cursor: pointer !important;
    background: #FFF;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FFF;
    border-radius: 100%;
    vertical-align: middle;
}
#toTopButton:hover, #addNewRow:hover, #addNewCol:hover, #subtractRow:hover, #subtractColumn:hover, #undoButton:hover, #redoButton:hover, #resetButton:hover, #downloadCSV:hover, #printButton:hover, #toTopButton:focus, #addNewRow:focus, #addNewCol:focus, #subtractRow:focus, #subtractColumn:focus, #undoButton:focus, #redoButton:focus, #resetButton:focus, #downloadCSV:focus, #printButton:focus {
    background-color: #000;
    color: #FFF;
}
#dialogboxfoot button:hover, #dialogboxfoot button:focus, #helpBoxFoot button:hover {
    background-color: #000;
    color: #FFF;
    border-color: #FFF;
}
#summaryBox {
    width: 100%;
    border-top: 3px solid #000;
    padding-bottom: 6%;
}
#colors {
    max-height: 300px;
    text-align: left;
    list-style: none;
    overflow: auto;
    margin: 0;
}
#colors > li {
    margin-top: 4%;
}
#colors p {
   border-radius: 5px;
   padding: 1%;
}
.color-editor-input input { /* background color for data color change text field */
    background: #E5E5E5;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.color-editor-input input:focus { /* background color for data color change text field */
    background: #FFF;
}
.colorblock {/* called in chart.js only */
    border: 2px solid #000;
    box-shadow: 1px 1px 2px #000;
    padding-right: 3em;
    border-radius: 4px;
    margin-right: 5px;
}
.htContainer {
    display: inline-block;
    vertical-align: middle;
}
#bgColorChange { /* background color change for entire site and graph */
    width: 100%;
    border-top: 3px solid #000;
    padding-bottom: 3%;
}
#bgColorChange i { /* !important overrides the text to change color for color change reset button */
    color: #000 !important;
}
#ccContent {
    width: 100%;
    min-height: 120px;
    text-align: left;
    padding-left: 5%;
}
.ccFeature {
    margin-bottom: 1%;
}
#siteCCReset, #graphCCReset, #textCCReset { /* color change reset button style */
    cursor: pointer !important;
    vertical-align: top;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px;
    color: #000;
    margin-left: 7%;
}
#siteCCReset:hover, #graphCCReset:hover, #textCCReset:hover {
    background: #000;
    color: #FFF;
    border: 1px solid #FFF;
}
#siteColorInput, #graphColorInput, #textColorInput {
    width: 120px;
    font-size: 20px;
    background: #E5E5E5;
    margin-right: 4%;
    border: 1px solid #CCC;
    border-radius: 3px;
}
#siteColorInput {
    margin-left: 5%;
}

#graphColorInput {
    margin-left: 2%;
}
#textColorInput {
    margin-left: 13%;
}
#siteColorInput:focus, #graphColorInput:focus, #textColorInput:focus {
    background: #FFF;
}
input[type="text"] {
    cursor: auto !important;
    padding-left: 1%;
}
.fa { /* cursor for font awesome icons */
    cursor: pointer !important;
}
.fa-exclamation-triangle {
    cursor: default !important;
}
/* END extra spacing between rows of features for color/background change */
/*******************************/
/* style for pop-up chart list STARTS */
 #dialogoverlay, #helpBoxOverlay{
    display: none;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    width: 100%;
    z-index: 10;
}
#dialogbox, #helpBox {
    display: none;
    position: fixed;
    background-color: #000;
    border-radius:5px;
    width:550px;
    z-index: 10;
}
#dialogbox > div, #helpBox > div{
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius:5px;
    margin:8px;
}
#dialogbox > div > #dialogboxhead, #helpBox > div > #helpBoxHead {
    font-size:19px;
    padding:10px;
    color:#000;
}
#dialogbox > div > #dialogboxbody, #helpBox > div > #helpBoxBody {
    border-top: 2px solid #000;
    padding: 20px;
    color:#000;
}
#dialogboxbody label, #helpBoxHead h1, #helpBoxBody p, #helpBoxBody li, #helpBoxBody h3 {
    cursor: text !important;
}
#helpBox > div > #helpBoxBody {
    text-align: justify;
    padding-left: 30px;
    padding-right: 35px;
}
#helpBoxBody h3 {
   text-align: center;
}
#dialogbox > div > #dialogboxfoot, #helpBox > div #helpBoxFoot {
    padding: 10px;
    text-align: right;
}
#helpBox > div #helpBoxFoot {
    padding: 20px;
}
#dialogboxbody select{
    cursor: pointer !important;
}
#dialogboxbody input {
    margin-top: 10px;
}
#dialogboxfoot button, #helpBoxFoot button {/* also inherits from the other button styles */
    padding:5px;
}
.sChartType select, .sChartType input {/* chart type select tags */
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 20px;
}
#rows, #columns {
    width: 109px;
    text-align: center;
}
#rows {
    margin-left: 10.3%;
}
#columns {
    margin-left: 3%;
}
/* END style for pop-up chart list */
/************************************/
/* START Table Style for print */
table, th, td, .printTable {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center; /* center texts (especially) inside td */
}
table, .printTable {
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    table-layout: fixed;
}
th, td, .printTable {
    padding: 10px;
    word-wrap:break-word;
}
/* END Table Style for print */
/************************************/
/* START media query for printing */
 @media print {
    body, html, header {
        background: none;
    }
    header {
        box-shadow: none;
        text-shadow: none;
    }
    #title {
        color: #000;
        text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    }
    #content {
        margin: 0px;
    }
    #tblContainer {
        height: auto;
        overflow: hidden;
    }
    #colors {
        max-height: none;
        overflow: hidden;
    }
    .no-print, .no-print * {
        display: none !important;
    }
}
/* END media print */
/************************************/
/* START media query less than 1280 */
@media screen and (max-width: 1280px), screen and (max-height: 800px) {
    #helpBox {
        min-height: 400px;
    }
    #helpBoxBody {
        max-height: 350px;
        overflow-y: scroll;
    }
}
/* END media query less than 1280 */
/************************************/
/* START media query max-width: 1139px */
@media screen and (max-width: 1139px) {
    #typeSelBody {
        width: 100%;
        background: url('footer_lodyas/footer_lodyas.png');
        position: initial;
        float: left;
        margin-bottom: 5%;
        padding: 2% 3.5%;
        box-shadow: 0px 10px 10px -10px #000;
        border-radius: 0;
    }
    #typeSelBody:before {
        content: '\A'; /* acts like break tag */
    }
}
/* END media query max-width: 1139px */
/*******************************/
