body, html {
    font-family: sans-serif, verdana;
    width: 100%;
    background: url('halftone/halftone.png')
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}
header {
    padding: 2% 0;
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    background: url('footer_lodyas/footer_lodyas.png');
    color: #FFF;
    text-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    clear: both;
    vertical-align: middle;
}

#slickTable .slick-viewport {
    overflow-y: scroll;
}
#title {
    display: inline;
    font-weight: bold;
    font-size: 2em;
    margin-left: 3.5%;
    position: relative;
}
#title a{
    text-decoration: none;
    color: inherit;
}
/*********************************/

/* START style for about section */
#start {
    text-align: justify;
    width: 800px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 1% 5% 3% 5%;
    border-radius: 5px;
    border: 3px solid #000;
}
#start h1 {
    text-align: center;
}
#start ul {
    list-style-type: decimal;
}
#start li {
    margin: 1% 0;
    padding: 1% 0;
}
#startInst{ /* instruction to get started */
    text-align: center;
}
/* END style for about section */

/*********************************/
#files {/*style for acutal Load CSV button*/
    width: 118px;
    height: 47px;
    z-index: -1;
}
#newTable {/*style for actual Create New Table button*/
    width: 186px;
    height: 47px;
    z-index: -1;
}
#content {
    width: 800px;
    margin: auto;/* centers the contents including the slider and the graph */
    margin-top: 5%;
    margin-bottom: 8%;
    clear: both;
}
#graphImg{/*printer.js: image of graph in the print page */
    margin-bottom: 7%;
}
#rTypeSelBody{/* chart/graph type radio selection */
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
}
#rTypeSel input{
    cursor: pointer;
}
#rTypeSel label {
    margin-right: 5%;
    cursor: pointer;
}
#selection {
    fill: lightblue;/*#ADD8E6*/
    fill-opacity: 0.3;
}
svg * {
    stroke:#000;
    stroke-width:1;
    fill-opacity: 0.0;
}
/*******************************/

/*
.slider1 {
    width: 800px;
    margin: 0px;
    margin-bottom: 7px;
    float: left;
}
.slider2 {
    width: 800px;
    margin: 0px;
    margin-bottom: 7px;
    float: left;
}
*/
/*
 #slider-range {
    margin-left: 22px;
    width: 755px;
}
*//*delete(?): slider-range styles conflicts with element.style,
and doesn't seem to effect anything when comment sliger-range out*/

/*******************************/
#overlay {
    position:absolute;
}
/*******************************/

/**  START changing Browse to Load CSV **/
 * {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.inputBtnSection, .newBtnSection {
    display:inline-block;
    vertical-align:top;
    font-size:0;
    margin-left: 2%;
}
.disableInputField {
    display:inline-block;
    vertical-align:top;
    margin: 0;
    font-size:14px;
}
.fileUpload, .createNew {
    position: relative;
    overflow: hidden;
}
.uploadBtn, .createBtn {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background: #FFF;
    color: #000;
    display:inline-block;
    vertical-align:top;
    border: 3px solid #FFF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 10px #000;
    text-shadow: none;
}
.uploadBtn:hover, .createBtn:hover{
    background-color: #000;
    color: #FFF;
}
.fileUpload input.upload, .createNew input.emptyTable {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/** END changing Browse to Load CSV **/

/*******************************/
#audioSpan {
    float: right;
    position: absolute;
    padding-right: 2%;
    margin-top: 0.9%;
    right: 0em;
}
#playButton {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-left: 0.5em;
    background: #FFF;
    border-color: #FFF;
    border-radius: 100%;
    border-style: solid;
    color: #000;
    box-shadow: 0px 5px 10px black;
}
#playButton:hover, #playButton:focus {
    background-color: #000;
    color: #FFF;
}
#bpm {
    width: 65px;
    text-align: center;
    font-size: 15px;
}
/*******************************/
/*******************************/
#table {
    text-align: center;
}
#table:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
#tblContainer {
    height: auto;
    max-height: 300px;
    margin: auto;
    margin-top: 2%;
    overflow: auto;
}
/*******************************/

/* START: for print button page, table section */
#printTable{
    margin-top: 8%;
    /*page-break-before: always;*/
}
#printTableHeader{
    text-align: center;/*margin-left: 5%;*/
}
#printTableBody{
    margin-top: 2%;
    border-top: 3px solid #000;
}
/* END: for print button page, table section */

/*******************************/
#dataPlot {
    width: 100%;
    text-align:center;
    font-weight: bold;
    border-radius: 5px;
    margin: 5% 0 15% 0;
    font-size: 20px;
    position: relative;/* part of making download button bottom of div*/
}
#plot-header {
    padding: 5% 0;
}
#dataSummary {
    width: 100%;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #000;
    margin: 40px 0;
    padding-top: 10px;
}
#tblSummary {
    font-weight: normal;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 28px;
}
#tableCount {
    padding: 5% 0 3% 0;
}
#remInstruction {
    padding-bottom: 3%;
}
#tableControls {/* positioning buttons to bottom CENTER of parent container dataPlot */
    position: absolute;
    width: 110%;
    text-align: center;
    padding-right: 5.5%;
}
#rowLabel, #columnLabel, #downloadCSV, #printButton, #undoButton, #dialogboxfoot button {
    display: inline;
    cursor: pointer;
    background: #FFF;
    font-size: 20px;
    padding: 1.5%;
    color: #000;
    font-weight: bold;
    box-shadow: 0px 5px 10px #000;
    text-shadow: none;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin-right: 2.5%;
    vertical-align: middle;
}
#rowLabel, #columnLabel {
    cursor: default;
}
#addNewRow, #addNewCol, #subtractRow, #subtractColumn {
    min-width: 35px;
    cursor: pointer;
    background: #FFF;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    border: 2px solid #FFF;
    border-radius: 100%;
    vertical-align: middle;
}
#addNewRow:hover, #addNewCol:hover, #subtractRow:hover, #subtractColumn:hover, #downloadCSV:hover, #printButton:hover, #undoButton:hover, #addNewRow:focus, #addNewCol:focus, #subtractRow:focus, #subtractColumn:focus, #downloadCSV:focus, #printButton:focus {
    background-color: #000;
    color: #FFF;
}
#dialogboxfoot button:hover, #dialogboxfoot button:focus {
    background-color: #000;
    color: #FFF;
    border-color: #FFF;
}
#summaryBox {
    width: 100%;
    height: auto;
    max-height: 400px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s; */
    border-radius: 5px;
    border: 3px solid #000;
    padding: 1% 0 4% 0;
    overflow: auto;
}
#summary-header {
    width: 100%;
    border-radius: 5px;
}
#colors {
    text-align: left;
    list-style: none;
}
#colors > li {
    margin: 4% 0;
}
.summary-editor-input input:focus {
    background: #dadada;
}
.colorblock {/*called in chart.js only*/
    border: 2px solid #000;
    box-shadow: 1px 1px 2px #000;
    padding-right: 3em;
    border-radius: 4px;
    margin-right: 5px;
}
.drop-down {
    width: 50px;
    box-shadow: 0px 5px 5px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 15px;
}
.htContainer {
    display: inline-block;
    vertical-align: middle;
}
/*******************************/

/* style for pop-up chart list STARTS */
 #dialogoverlay {
    display: none;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    width: 100%;
    z-index: 10;
}
#dialogbox {
    display: none;
    position: fixed;
    background-color: #000;
    border-radius:5px;
    width:550px;
    z-index: 10;
}
#dialogbox > div {
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius:5px;
    margin:8px;
}
#dialogbox > div > #dialogboxhead {
    font-size:19px;
    padding:10px;
    color:#000;
}
#dialogbox > div > #dialogboxbody {
    border-top: 2px solid #000;
    padding:20px;
    color:#000;
}
#dialogbox > div > #dialogboxfoot {
    padding:10px;
    text-align:right;
}
#dialogboxbody input {
    margin-top: 10px;
}
#dialogboxfoot button {/* also inherits from the other button styles */
    padding:5px;
}
.sChartType select, .sChartType input {/* chart type select tags */
    border: 2px solid #000;
    border-radius: 2px;
    font-size: 15px;
}
/* END style for pop-up chart list */

/************************************/

/* START Table Style for print */
table, th, td, .printTable{
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center; /*center texts (especially) inside td*/
}
table, .printTable{
    font-size: 15px;
    margin: auto;
    margin-top: 5%;
    table-layout: fixed;
}
th, td, .printTable{
    padding: 10px;
    word-wrap:break-word;
}
/* END Table Style for print */

/************************************/

/* START media query for printing */
 @media print {
    header {
        box-shadow: none;
        text-shadow: none;
        color: #000;
    }
    #content {
        margin: 0px;
    }
    #tblContainer{
        height: auto;
        overflow: hidden;
    }
    #dataPlot {
        margin: 5% 0;
        /*page-break-after: auto;*/
    }
    #summaryBox{
        max-height: none;
        overflow: hidden;
    }
    .no-print, .no-print * {
        display: none !important;
    }
}
/* END media print */

/************************************/

/* START media query max-width: 1068px */
@media screen and (max-width: 1068px) {
    #audioSpan{
        width: 100%;
        background: url('footer_lodyas/footer_lodyas.png');
        position: initial;
        float: left;
        margin-bottom: 5%;
        padding: 2% 3.5%;
        box-shadow: 0px 10px 10px -10px #000;
    }
    #audioSpan:before{
        content: '\A'; /* acts like break tag */
    }
}
/* END media query max-width: 1068px */

/*******************************/
